.historico-ordenes-lista {
    background-color: var(--tarjeta-item-bg);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.registro-orden {
    display:flex;
    align-items: center;
    flex-direction: row;
    max-height: 100px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    margin: 15px;
    border-radius: 15px;
    background-color: var(--tarjeta-chart-grid);
}

.registro-orden div {
    padding: 1rem;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.registro-orden .accion-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 10px;
}

.registro-orden .operacion-orden {
    max-width: 50px;
    min-width: 50px;
    font-weight: bold;
    font-size: small;
}

.registro-orden .info-accion {
    display:flex;
    flex-direction: row;    
    gap: 1rem;
    max-width: 20%;
    min-width: 20%;
    color: var(--color-text);
    font-size: 0.8rem;
}

.registro-orden .info-orden {
    display:flex;
    flex-direction: row;
    gap: 1rem;
    color: var(--color-text);
    max-width: 20%;
}

.info-orden .valor {
    margin: 0;
    font-size: 0.8rem;
}

.info-orden .valor-label {
    margin: 0;
    font-size: 0.5rem;
}

.registro-orden .info-orden div {
    padding: 0px;
}

.boton-detalles {
    border: none;
    border-radius: 30%;
    cursor: pointer;
    margin: 15px;
    background-color: transparent;
}

.barra-estado {
    min-width: 150px;
}

.logo-detalles {
    height: 70px;
    width: 40px;
    object-fit: contain;
    border-radius: 10px;
}