<h1 class="titulo"> Mis ordenes </h1>
<div class="historico-ordenes-lista">

<div class="registro-orden" *ngFor ="let registro of historicoOrdenes">
  <div class="operacion-orden" [ngStyle]="{'color':registro.operacion === 'Comprar' ? 'green': 'red'}">{{registro.operacion}}</div>

  <div class="info-accion">
    <img [src]="registro.logo" alt="{{registro.name}}" class="accion-logo">
    <div class="accion-nombre">{{registro.name}}</div>
  </div>

  <div class="info-orden">
    <div class="cantidad-orden">
      <div class="cantidad">{{registro.cantidad}}</div>
      <div class="cantidad-label">Cantidad</div>
    </div>
    <div class="precio-orden">
      <div>
        <span class="valor">{{registro.operacion === 'Compra' ? registro.compraPrecio : registro.ventaPrecio}}</span>
        <span class="moneda"> {{registro.moneda}}</span>
      </div>
      <div class="precio-label">{{registro.operacion === 'Compra' ? 'Precio de compra' : 'Precio de venta'}}</div>
    </div>
  </div>
  <div class="barra-estado">
    <app-stepper-nativo [estado]="'Ejecutada'"></app-stepper-nativo>
  </div>
  <button class="boton-detalles">
    <img src="detalles-icon.svg" alt="Icono Detalles" class="logo-detalles" />
  </button>

</div>
